@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8.5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background: #91be55;
}

article {
  padding: 8rem 9%;
  background-color: #f1f1f1;
}

/* Header Style Start */

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #212121;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}
.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  cursor: default;
}
.header .logo i {
  padding-right: 0.5rem;
  color: #91be55;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.header .logo i:hover {
  transform: rotate(-360deg);
  color: #fff;
}

.header .navbar a {
  font-size: 2rem;
  margin: 0 1rem;
  color: #fff;
  padding: 0.6rem 0.6rem;
  font-weight: 450;
}
.header .navbar a:hover {
  color: #fff;
  background: #91be55;
  border-radius: 7px;
}
.header .icons .fas {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.5rem;
  margin-left: 0.3rem;
  cursor: pointer;
  text-align: center;
  background: #91be55;
}
.header .icons .fas:hover {
  color: #334;
  transform: scale(1.2);
  cursor: pointer;
  background: #fff;
}

.header .icons .menu-btn {
  display: none;
}
/* Header Style End */

/* Hero Style Start */
.hero {
  padding: 13rem 9%;
  background-image: url("../image/hero-img.avif");
  background-size: cover;
  background-position: center;
  background-color: #f1f1f1;
  content-visibility: auto;
}
.hero .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.hero .row .content {
  flex: 1 1 50rem;
}
.hero .row .content h1 {
  font-weight: 400;
  font-size: 4.8rem;
  color: #fff;
  line-height: 55px;
}
.hero .row .content .hero-text {
  color: #fff;
  font-size: 1.5rem;
  max-width: 500px;
  margin: 20px 0 20px 0;
}

.hero .row .content .wrapper .btn-hero {
  display: block;
  width: 180px;
  padding: 13px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  background: #91be55;
}

.hero .row .content .wrapper .btn-hero span {
  position: relative;
  z-index: 2;
}

.hero .row .content .wrapper .btn-hero:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fff;
  transition: all 0.35s;
  border-radius: 8px;
}

.hero .row .content .wrapper .btn-hero:hover {
  color: #334;
}

.hero .row .content .wrapper .btn-hero:hover:after {
  width: 100%;
}

/* Hero Style End */

/* About Style Start */
.about {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  padding-top: 140px;
}

.about .about-image {
  flex-basis: 50%;
  background-image: url("../image/about-img.avif");
  min-height: 500px;
  border-radius: 16px;
  background-attachment: fixed;
  background-position: -200px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 50px 4px;
  background-repeat: no-repeat;
  background-size: cover;
  content-visibility: auto;
}

.about .about-container {
  flex-basis: 60%;
  padding: 45px;
}

.about .about-container h1 {
  font-weight: 400;
  font-size: 4.8rem;
  color: #334;
  line-height: 55px;
  margin-bottom: 18px;
}

.about .about-container p:nth-child(1) i {
  margin-bottom: 5px;
  position: relative;
  font-size: 25px;
  color: #91be55;
}
.about .about-container p:nth-child(1) {
  margin-bottom: 5px;
  position: relative;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  color: #91be55;
}

.about .about-container p:nth-child(3) {
  margin: 0 8px 0;
  font-size: 16px;
  color: #334;
}
.about .about-container .icons-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin-top: 0.5rem;
  color: #91be55;
}

.about .about-container .icons-container .icons {
  background: #eee;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 1 1 15rem;
  padding: 1.5rem 1rem;
}

.about .about-container .icons-container .icons:hover {
  color: #73a942;
  transform: scale(0.9);
}

.about .about-container .icons-container .icons i {
  font-size: 2.5rem;
  color: #91be55;
}

.about .about-container .icons-container .icons span {
  font-size: 1.5rem;
  color: #334;
}

/* About Style End */

/* Service Style Start*/

.service-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
  text-align: center;
}

.title .title-sub {
  margin-bottom: 5px;
  position: relative;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  color: #91be55;
}

.title .title-description {
  font-size: 40px;
  margin-bottom: 20px;
  color: #334;
}

.service-container .slide-container {
  margin: 0 30px;
  overflow: hidden;
}
.service-container .slide-container .card {
  background: #fff;
  border-radius: 8px;
}

.service-container .slide-container .card .image-box img {
  margin-top: 10px;
  width: 300px;
  height: 200px;
  border-radius: 8px 8px 0 0;
}

.service-container
  .slide-container
  .service-details-container
  .service-details
  h1 {
  font-size: 18px;
  font-weight: 800;
  align-items: center;
  text-align: center;
  margin: 12px 0px;
}
.service-container
  .slide-container
  .service-details-container
  .service-details
  .service-name {
  font-size: 15px;
  font-weight: 500;
  color: #334;
  text-align: center;
  margin: 10px 15px;
}

.service-container
  .slide-container
  .service-details-container
  .service-details
  .btn-service {
  display: flex;
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 7px;
  background: #91be55;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
}

.service-container
  .slide-container
  .service-details-container
  .service-details
  .btn-service:hover {
  background: #f1f1f1;
  color: #334;
}

.swiper-navBtn {
  color: #fff;
  height: 40px;
  width: 40px;
  background: #91be55;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 18px;
}
.swiper-button-next,
.swiper-button-prev {
  top: 63%;
}
.swiper-pagination-bullet {
  background-color: #334;
}

/* Service Style End */

/* Counter Style Start */
.main-counter {
  padding: 5.5rem 0px;
}

.main-counter .main-counter-container {
  background: url("../image/counter-img.avif") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  content-visibility: auto;
}

.main-counter .main-counter-container .counter-up {
  background: transparent;
  min-height: 65vh;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 50px;
  position: relative;
  display: flex;
  align-items: center;
}
.main-counter .main-counter-container .counter-up::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.main-counter .main-counter-container .counter-up .content {
  z-index: 1;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.main-counter .main-counter-container .counter-up .content .box {
  border: 1px solid #ccc;
  width: calc(25% - 30px);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
}
.main-counter .main-counter-container .counter-up .content .box:hover {
  transform: scale(1.1);
}
.main-counter .main-counter-container .content .box .icon {
  font-size: 48px;
  color: #fff;
}

.main-counter .main-counter-container .content .box .counter {
  font-size: 55px;
  font-weight: 900;
  color: #73a942;
  -webkit-text-stroke: 1px #ccc;
}
.main-counter .main-counter-container .content .box .counter-container {
  display: flex;
}
.main-counter .main-counter-container .content .box .counter-container .plus {
  font-size: 33px;
  color: #73a942;
  -webkit-text-stroke: 1px #ccc;
  font-weight: 900;
}
.main-counter .main-counter-container .content .box .text {
  font-weight: 900;
  font-size: 30px;
  color: #fff;
}

/* Counter Style End */

/* Donation Style Start */
.donate .donate-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 25px 10px;
}

.donate .donate-container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.donate .donate-container .box-container .box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: none;
}

.donate .donate-container .box-container .box:nth-child(1),
.donate .donate-container .box-container .box:nth-child(2),
.donate .donate-container .box-container .box:nth-child(3) {
  display: inline-block;
}

.donate .donate-container .box-container .box .image {
  margin-bottom: 20px;
  overflow: hidden;
  height: 250px;
  border-radius: 5px;
  content-visibility: auto;
}

.donate .donate-container .box-container .box .image img {
  content-visibility: auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.donate .donate-container .box-container .box:hover .image img {
  content-visibility: auto;
  transform: scale(1.1);
}

.donate .donate-container .box-container .box .content h1 {
  font-size: 20px;
  color: #334;
}

.donate .donate-container .box-container .box .content p {
  font-size: 13px;
  color: #334;
  line-height: 2;
  padding: 15px 0;
}

.donate .donate-container .box-container .box .content .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #334;
}

.donate .donate-container .box-container .box .content .icons span {
  font-size: 16px;
  color: #334;
}

.donate .donate-container .box-container .box .content .icons span i {
  color: #91be55;
  padding-right: 5px;
}

.donate .donate-container .box-container .box .content .btn-donate {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.9rem 1.4rem;
  font-size: 16px;
  cursor: pointer;
  color: #f7f7f7;
  background: #91be55;
  border-radius: 5px;
  font-weight: 450;
}
.donate .donate-container .box-container .box .content .btn-donate:hover {
  background: #f1f1f1;
  color: #334;
}

#load-more {
  margin-top: 20px;
  display: inline-block;
  padding: 13px 30px;
  border: 1px solid #334;
  color: #334;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 7px;
  font-weight: 600;
}

#load-more:hover {
  background-color: #91be55;
  border-color: #91be55;
  color: #fff;
}

/* Donation Style End */

/* Contact Style Start */
.contact {
  display: flex;
  padding: 25px 70px;
}

.contact-form,
.contact-bio {
  flex: 3;
  padding: 10px 20px 0px;
}

/* .contact-bio {
  flex: 5;
} */

.contact .contact-form .card h1 {
  text-align: center;
  padding-top: 30px;
  border-radius: 5px 5px 0px 0px;
  font-size: 35px;
  color: #334;
}

.contact .contact-form .card h1::after {
  content: " ";
  display: block;
  width: 100px;
  height: 3px;
  margin: auto;
  background-color: #91be55;
}

.contact .contact-form .card .form-group {
  margin: 8px 80px;
}

.contact .contact-form .card .form-group .contact-input {
  width: 100%;
  padding: 10px;
  border-style: none;
  border: 1px solid #8f8f8f;
  border-radius: 5px;
}
.contact .contact-form .card .form-group .contact-textarea {
  width: 100%;
  padding: 10px;
  border-style: none;
  border: 1px solid #8f8f8f;
  border-radius: 5px;
  height: 80px;
}

.contact .contact-form .card .form-group .label-contact {
  font-size: 18px;
  display: block;
  margin-bottom: 7px;
  color: #334;
}

.contact .contact-form .card .btn-contact {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #91be55;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  border-radius: 7px;
}

.contact .contact-form .card .btn-contact:hover {
  background: #fff;
  color: #334;
}

.contact .contact-form .card .form-group p {
  color: #8f8f8f;
  font-size: 14px;
}
.my-bio {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
}

.my-bio .contact-bio {
  text-align: center;
}

.my-bio .contact-bio .card {
  padding: 10px 25px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  height: 90%;
  border-radius: 10px;
}

.my-bio .contact-bio .card::after {
  content: " ";
  display: block;
  height: 130px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px 5px 0 0;
  background-color: #91be55;
}

.my-bio .contact-bio .card .profile-contact {
  object-fit: cover;
  height: 160px;
  width: 160px;
  margin-top: 30px;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.my-bio .contact-bio .card .name-bio {
  font-size: 15px;
}
.my-bio .contact-bio .card .text-muted {
  color: #334;
  font-size: 13px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.my-bio .contact-bio .card .table-responsive {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.my-bio .contact-bio .contact-bio .table-responsive .bio-table {
  border-spacing: 0px;
  width: auto;
  border: 2px solid #f7f7f7;
  margin-bottom: 55px;
}

tr,
th,
td {
  text-align: left;
  padding: 10px;
  background-color: #f7f7f7;
}

/* Contact Style End */

/* Footer Style Start */
.footer {
  bottom: 0px;
  width: 100%;
  background: #eee;
  padding-top: 40px;
}
.footer .main-content-footer {
  display: flex;
  padding-top: 10px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.4);
}
.footer .main-content-footer .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.footer .box h2 {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #334;
}
.footer .box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.footer .box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #334;
}
.footer .box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #91be55;
  top: -10px;
}
.footer .left .content p {
  text-align: justify;
  font-size: 1.3rem;
}
.footer .left .content .social {
  margin: 20px 0 0 0;
}
.footer .left .content .social a {
  color: #fff;
  padding: 0 2px;
}
.footer .left .content .social a span {
  height: 40px;
  width: 40px;
  background: #91be55;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  transition: 0.3s;
  color: #fff;
}
.footer .left .content .social a span:hover {
  background: #73a942;
  color: #334;
  transform: scale(1.1);
}
.footer .center .content .fas {
  font-size: 20px;
  background: #91be55;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
}
.footer .center .content .fas:hover {
  background: #73a942;
  color: #334;
}
.footer .center .content .text {
  font-size: 1.4rem;
  font-weight: 500;
  padding-left: 10px;
}
.footer .center .content .phone {
  margin: 15px 0;
}
.footer .right form .text {
  font-size: 1.4rem;
  margin-bottom: 2px;
  color: #334;
}

.footer .right form .msg {
  margin-top: 10px;
}
.footer .right form input,
.footer .right form textarea {
  width: 100%;
  font-size: 1.3rem;
  background: #fff;
  padding-left: 10px;
  border: 1px solid #334;
  border-radius: 7px;
}
.footer .right form input:focus,
.footer .right form textarea:focus {
  outline-color: #fff;
  border: 2px solid #334;
}
.footer .right form input {
  height: 35px;
}
.footer .right form .btn-member {
  margin-top: 10px;
}
.footer .right form .btn-member button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #91be55;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  border-radius: 7px;
}
.footer .right form .btn-member button:hover {
  background: #fff;
  color: #334;
}

.footer .bottom {
  text-align: center;
  padding: 5px;
  font-size: 1.6rem;
  background: #eee;
}
.footer .bottom span {
  color: #334;
}
.footer .bottom a {
  color: #91be55;
  text-decoration: none;
}
.footer .bottom a:hover {
  zoom: 110%;
}

/* .footer  Style End */

@media (max-width: 1100px) {
  .header {
    padding: 3rem 4%;
  }
  .header .logo {
    font-size: 18px;
  }
  .service-container .slide-container .card .image-box img {
    margin-top: 10px;
    width: 90%;
    height: 180px;
    border-radius: 8px 8px 0 0;
  }
}

@media screen and (max-width: 992px) {
  .header .navbar {
    padding: 5px;
  }
  .header .logo {
    font-size: 15px;
  }
  .header .logo i {
    font-size: 19px;
  }
  .header .navbar a {
    font-size: 17px;
    margin: 0 4px;
  }
  .header .icons .fas {
    width: 3.5rem;
    font-size: 17px;
  }

  .main-counter .main-counter-container .counter-up {
    padding: 50px 50px 0 50px;
  }

  .main-counter .main-counter-container .counter-up .content .box {
    width: calc(50% - 30px);
    margin: 30px 0px;
  }

  .main-counter .main-counter-container .content .box .counter {
    font-size: 42px;
  }

  .main-counter .main-counter-container .content .box .counter-container .plus {
    font-size: 30px;
  }

  .main-counter .main-counter-container .content .box .text {
    font-size: 25px;
  }

  .service-container .slide-container .card .image-box img {
    max-width: 90%;
    height: 140px;
    object-fit: cover;
  }

  .contact {
    display: block;
  }
  .contact .contact-form .card .form-group .label-contact {
    font-size: 20px;
  }
  .contact .contact-form .card .form-group .contact-input {
    font-size: 18px;
  }
  .contact .contact-form .card .form-group .contact-textarea {
    font-size: 18px;
  }
  .my-bio .contact-bio .card .name-bio {
    font-size: 25px;
  }
  .contact .contact-form .card .form-group {
    margin: 10px 0px;
  }
  .my-bio .contact-bio .card .text-muted {
    font-size: 19px;
  }
  .contact .my-bio {
    width: 100%;
    float: none;
    padding: 0;
    margin: 0;
  }
  tr,
  th,
  td {
    font-size: 17px;
  }
  .footer {
    position: relative;
    bottom: 0px;
  }
  .footer .main-content-footer {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer .main-content .box {
    margin: 5px 0;
  }
  .footer .box h2 {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #212121;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .logo {
    font-size: 23px;
  }
  .header .logo i {
    font-size: 23px;
  }
  .header .navbar a {
    font-size: 2rem;
    margin: 2rem;
    display: block;
  }
  .header .icons .fas {
    width: 4.5rem;
    font-size: 2rem;
  }
  #menu-btn {
    display: inline-block;
  }
  .about {
    display: block;
    padding: 160px 60px 0px;
  }
  .about .about-container {
    margin-top: 25px;
  }
  .about .about-image {
    background-position: 0px;
    min-height: 400px;
  }
  .about .about-container h1 {
    text-align: center;
  }
  .about .about-container p:nth-child(1) {
    text-align: center;
  }
  .about .about-container p:nth-child(3) {
    text-align: justify;
  }

  .service-container .slide-container .card .image-box img {
    max-width: 90%;
    max-height: 190px;
    object-fit: cover;
  }

  .service-container
    .slide-container
    .service-details-container
    .service-details
    .btn-service {
    font-size: 13px;
    padding: 8px 0px;
  }
  .service-container
    .slide-container
    .service-details-container
    .service-details
    h1 {
    font-size: 15px;
  }
  .service-container
    .slide-container
    .service-details-container
    .service-details
    .service-name {
    font-size: 13px;
  }

  .main-counter .main-counter-container .counter-up {
    min-height: 30vh;
    padding-top: 50px;
  }
  .main-counter .main-counter-container .content .box .counter {
    font-size: 30px;
  }
  .main-counter .main-counter-container .content .box .counter-container .plus {
    font-size: 23px;
  }
  .main-counter .main-counter-container .content .box .text {
    font-size: 18px;
  }
  .title .title-description {
    font-size: 35px;
  }
  .donate .donate-container .box-container .box .content p {
    padding: 15px 90px;
    font-size: 16px;
  }
  .donate .donate-container .box-container .box .content h1 {
    font-size: 24px;
  }
  .donate .donate-container .box-container .box .content .btn-donate {
    padding: 1.2rem 4rem;
  }
  .donate .donate-container .box-container .box .content .icons span {
    font-size: 19px;
  }
  .contact {
    display: block;
  }
  .contact .contact-form .card .form-group {
    margin: 10px 0px;
  }
  .contact .my-bio {
    width: 100%;
    float: none;
    padding: 0;
    margin: 0;
  }

  .footer .left .content .social {
    text-align: center;
  }
  .footer .center .content .phone {
    text-align: center;
  }
  .footer .center .content .place {
    text-align: center;
  }
  .footer .center .content .email {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .about {
    padding: 140px 10px 0px;
  }
  .about .about-image {
    min-height: 350px;
    margin: 0px 20px;
  }
  .about .about-container h1 {
    font-size: 35px;
  }
  .about .about-container .icons-container {
    margin-top: 10px;
  }
  .main-counter .main-counter-container .counter-up {
    padding: 0px 30px;
  }

  .donate .donate-container .box-container .box .content p {
    padding: 10px 2px;
  }
  .my-bio .contact-bio .card .name-bio {
    font-size: 19px;
  }
  .my-bio .contact-bio .card .text-muted {
    font-size: 16px;
  }
  tr,
  th,
  td {
    font-size: 13px;
  }
}

@media screen and (max-width: 480px) {
  .header .icons .fas {
    display: none;
  }
  #menu-btn {
    font-size: 23px;
  }
  .hero .row .content h1 {
    font-size: 33px;
  }
  .hero .row .content .hero-text {
    font-size: 14px;
  }
  .about .about-image {
    min-height: 280px;
  }
  .about .about-container p:nth-child(3) {
    margin: 0px;
    font-size: 14px;
  }
  .about .about-container h1 {
    font-size: 25px;
    line-height: 35px;
  }
  .title .title-description {
    font-size: 26px;
  }

  .main-counter .main-counter-container .counter-up {
    padding: 30px 30px;
  }
  .service-container
    .slide-container
    .service-details-container
    .service-details
    h1 {
    font-size: 19px;
  }

  .service-container
    .slide-container
    .service-details-container
    .service-details
    .service-name,
  .service-container
    .slide-container
    .service-details-container
    .service-details
    .btn-service {
    font-size: 15px;
  }

  .main-counter .main-counter-container .counter-up .content .box {
    width: 100%;
    margin: 15px 10px;
  }

  .main-counter .main-counter-container .content .box .text {
    font-size: 21px;
  }

  .main-counter .main-counter-container .content .box .counter {
    font-size: 38px;
  }
  .main-counter .main-counter-container .content .box .counter-container .plus {
    font-size: 27px;
  }
  .donate .donate-container .box-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .donate .donate-container .box-container .box .content .btn-donate {
    font-size: 17px;
  }

  .contact {
    padding: 20px 35px;
  }
  .contact .contact-form .card h1 {
    font-size: 26px;
  }
  .contact .contact-form .card .form-group .label-contact {
    font-size: 17px;
  }
  .contact .contact-form .card .form-group .contact-input,
  .contact .contact-form .card .form-group .contact-textarea {
    font-size: 15px;
  }
  .my-bio .contact-bio .card .name-bio {
    margin-top: 10px;
    font-size: 14px;
  }
  .my-bio .contact-bio .card .text-muted {
    font-size: 13px;
  }
  tr,
  th,
  td {
    font-size: 10px;
  }
}

@media screen and (max-width: 380px) {
  .hero .row .content h1 {
    font-size: 25px;
    line-height: 40px;
  }
  .header .logo,
  .header .logo i,
  #menu-btn {
    font-size: 19px;
  }
  .about .about-image {
    min-height: 200px;
  }
  .about .about-container {
    padding: 18px;
  }
  .about .about-container h1 {
    font-size: 23px;
  }
  .about .about-container p:nth-child(1),
  .about .about-container p:nth-child(1) i {
    font-size: 18px;
  }
  .about .about-container p:nth-child(3) {
    font-size: 12px;
  }
  .header .navbar a {
    margin: 6px 10px;
    font-size: 15px;
  }
  .hero .row .content .hero-text {
    font-size: 12px;
  }
  .hero .row .content .wrapper .btn-hero {
    font-size: 15px;
    padding: 10px 3px;
  }
  .title .title-description {
    font-size: 21px;
  }
  .title .title-sub {
    font-size: 18px;
  }

  .service-container .slide-container {
    margin: 0px 10px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 60%;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 0px;
    left: auto;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 0px;
    right: auto;
  }

  .donate .donate-container .box-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .donate .donate-container .box-container .box {
    padding: 10px;
  }
  .donate .donate-container .box-container .box .content h1 {
    font-size: 19px;
  }
  .donate .donate-container .box-container .box .content p {
    font-size: 12px;
    padding: 5px 0px;
  }
  .donate .donate-container .box-container .box .content .btn-donate {
    padding: 8px 8px;
    font-size: 13px;
  }
  .donate .donate-container .box-container .box .content .icons span {
    font-size: 12px;
  }
  #load-more {
    padding: 10px 20px;
    font-size: 14px;
  }
  .contact {
    padding: 15px 23px;
  }
  .contact .contact-form .card h1 {
    font-size: 21px;
  }
  .contact .contact-form .card .form-group .label-contact {
    font-size: 14px;
  }
  .contact .contact-form .card .form-group .contact-input,
  .contact .contact-form .card .form-group .contact-textarea {
    font-size: 12px;
  }

  .contact-form,
  .contact-bio {
    padding: 0px;
  }
  .contact .contact-form .card .btn-contact {
    font-size: 14px;
  }
  .my-bio .contact-bio .card .profile-contact {
    width: 130px;
    height: 130px;
  }
  .my-bio .contact-bio .card .name-bio {
    font-size: 13px;
  }
  .my-bio .contact-bio .card .text-muted {
    font-size: 12px;
  }
  tr,
  th,
  td {
    font-size: 8px;
  }
  .footer .right form .btn-member button {
    font-size: 13px;
  }
  .footer .bottom {
    font-size: 12px;
  }
}
